{
	"selection_allowed_characters" : "0123456789._",
	"edit_help" : "enter search strings (ex. 'sub string -excludeme') (type '\\' first in a searchstring to search full path)",
	"edit_no_connection" : "no connection is set, please setup a connection in the SolutionHub UI",

	"prefix_uppercase" : true,
	"uppercase_prefix" : " ", // max 15 characters

	"ui" :
	{
		// X = Text color
		// X_back = Background color
		"selected" : "0 0 0",
		"selected_back" : "255 228 181",

		"odd" : "0 0 0",
		"odd_back" : "255 255 255",

		"even" : "0 0 0",
		"even_back" : "224 255 255",

		"hot" : "0 0 0",
		"hot_back" : "204 255 255",

		"draw_hot" : false
	}
}
