# if we fail to get the proc path of TortoiseSVN through the registry this file will be parsed.
# the key('tortoise_proc_path') should point out 'TortoiseProc.exe', located where you have installed TortoiseSVN.
# a restart of Notepad++ is needed in order to reparse this configuration file.
# NOTE : I use (key : value) NOT (key = value)

tortoise_proc_path : C:\Program Files\TortoiseSVN\bin\TortoiseProc.exe