{
	// 'open close tags' comes in pairs ex. '<' == open, '>' == close
	"open_close_tags" : "<>",
	"open_chars" : "\"'",

	// non_open_close is currently not supported, if you would like have some implemented let me know.
	"non_open_close" : [ "import" ],

	"switch_info" :
	{
		/*
		"EXTENSION" : [ "PRIORITY BASED SWITCH TARGETS" ]
		Works as following :
		1)	strip extension of current file
		2)	check 'extension'-array as defined below, inorder. The filename part
			of the file will be concatenated with whats defined in the array.

		Note : 	if you have some schemes that file with extension ".h" has
				it's implementation in files "_impl.hpp" then put it here.
				When you then switch from ".hpp" the same rules apply(check
				array inorder)

		3)	if no file was found found in the current directory then a search through the
			'ofis'-connection where the same logic applies.

		NOTE : This is just some examples, feel free to add new ones or change order.
		*/

		"h" : [ ".inl", "_impl.hpp", ".c", ".cpp", ".cxx" ],
		"c" : [ ".h", ".hpp" ],
		"cxx" : [ ".h", ".hpp" ],
		"cpp" : [ ".h", ".hpp" ],
		"inl" : [ ".h", ".hpp" ]
	},

	// set this to true if you do not want to search with ofis (if current directory search fails)
	"switch_file_disable_ofis" : false,

	/*
		used when ctrl+left mouse click, the difference (in pixels) that is allowed
		between clicked point and released point
	*/
	"mouse_diff" : 4,
	"mouse_enabled" : true,

	"language_include" :
	{
		"lua" : [ "require", "dofile" ]
	}
}
